---
layout: default
---

<article>
  <div class="page-header">
    <div class="container">
      <h1>{{ page.name }}</h1>
      {% if page.role %}
        <p>{{ page.role }}</p>
      {% endif %}
    </div>
  </div>

  <div class="container container--article section content">
    {{ page.bio | markdownify }}

    {% assign author_posts = site.posts | where: 'author', page.slug %}
    {% if author_posts.size > 0 %}
      <h2>Articles by {{ page.name }}</h2>
      <div class="card-grid">
        {% for post in author_posts %}
          <div class="card">
            <h3 class="card__title">
              <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h3>
            <p class="card__text">{{ post.description | truncate: 160 }}</p>
            <p class="post-card__meta">{{ post.date | date: "%B %d, %Y" }}</p>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</article>
